@model HomeViewModel
@{
    ViewData["Title"] = $"Home Page {Model.CurrentSearch}";
    ViewBag.Title = "Home Page";
    ViewBag.Info = $"Showing {Model.CurrentFloor} through {Model.CurrentCeil} of {Model.CurrentMax}";
}
<h2>@ViewBag.Info</h2>
<div id="CallsTableControls">
    @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { model = Model }))
    {
        @Html.HiddenFor(model => model.CurrentFloor)
        @Html.HiddenFor(model => model.CurrentCeil)
        @Html.HiddenFor(model => model.CurrentMax)
        @if (!Model.StartDate.HasValue)
        {
            <a href="/Home/ChangeSetWithoutFilter?floor=@(Model.CurrentFloor)&ceil=@(Model.CurrentCeil)&max=@(Model.CurrentMax)&change=@(Model.ChangeDown)"><i class="fa fa-arrow-left" title="Previous"></i></a>
            <a href="/Home/ChangeSetWithoutFilter?floor=@(Model.CurrentFloor)&ceil=@(Model.CurrentCeil)&max=@(Model.CurrentMax)&change=@(Model.ChangeUp)"><i class="fa fa-arrow-right" title="Next"></i></a>
        }
        else
        {
            <a href="/Home/Index?CurrentFloor=@(Model.CurrentFloor)&CurrentCeil=@(Model.CurrentCeil)&CurrentMax=@(Model.CurrentMax)&ChangeDown=@(Model.ChangeDown)&StartDate=@(Model.StartDate)&EndDate=@(Model.EndDate)&PreviousSet=true"><i class="fa fa-arrow-left" title="Previous"></i></a>
            <a href="/Home/Index?CurrentFloor=@(Model.CurrentFloor)&CurrentCeil=@(Model.CurrentCeil)&CurrentMax=@(Model.CurrentMax)&ChangeUp=@(Model.ChangeUp)&StartDate=@(Model.StartDate)&EndDate=@(Model.EndDate)&NextSet=true"><i class="fa fa-arrow-right" title="Next"></i></a>

        }
        @Html.EditorFor(model => model.StartDate)
        @Html.EditorFor(model => model.EndDate)
        @Html.HiddenFor(model => model.ActiveSearch)
        <button style="height:40px;width:40px;text-align:center;" type="submit" name="Search">
            <i class="fa fa-search"></i>
        </button>
    }
</div>
<hr />
<div id="Data">
    <table id="311CallsTable" class="table-bordered">
        <thead>
            <tr>
                <th class="col-2">
                    Map View
                </th>
                <th class="col-2">
                    Unique Key
                </th>
                <th class="col-2">
                    Created Date
                </th>
                <th class="col-2">
                    Closed Date
                </th>
                <th class="col-2">
                    Agency Name
                </th>
                <th class="col-2">
                    Complaint Type
                </th>
                <th class="col-6">
                    Descriptor
                </th>
                <th class="col-2">
                    Location Type
                </th>
                <th class="col-1">
                    Incident Zip
                </th>
                <th class="col-4">
                    Incident Address
                </th>
                <th class="col-2">
                    Street Name
                </th>
                <th class="col-2">
                    Cross St 1
                </th>
                <th class="col-2">
                    Cross St 2
                </th>
                <th class="col-2">
                    Intersection street 1
                </th>
                <th class="col-2">
                    Intersection street 2
                </th>
                <th class="col-2">
                    Address type
                </th>
                <th class="col-2">
                    City
                </th>
                <th class="col-2">
                    Landmark
                </th>
                <th class="col-3">
                    Facility type
                </th>
                <th class="col-6">
                    Status
                </th>
                <th class="col-10">
                    Resolution description
                </th>
                <th class="col-2">
                    Community board
                </th>
                <th class="col-2">
                    Borough
                </th>
                <th class="col-2">
                    Park facility name
                </th>
                <th class="col-2">
                    Park borough
                </th>
                <th class="col-2">
                    Vehicle type
                </th>
                <th class="col-2">
                    Taxi company borough
                </th>
                <th class="col-2">
                    Taxi pick up location
                </th>
                <th class="col-2">
                    Bridge highway name
                </th>
                <th class="col-2">
                    Bridge highway direction
                </th>
                <th class="col-2">
                    Road ramp
                </th>
                <th class="col-2">
                    Bridge highway segment
                </th>
                <th class="col-2">
                    Latitude
                </th>
                <th class="col-2">
                    Longitude
                </th>
                <th class="col-2">
                    Location city
                </th>
                <th class="col-2">
                    Location zip
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var option in Model.JsonData)
            {
                <tr>
                    <td style="text-align:center;">
                        <a href="/Map/Index?longitude=@(option.Longitude)&latitude=@(option.Latitude)"><i class="fa fa-location-arrow" title="View Map"></i></a>
                    </td>
                    <td>
                        @(option.Unique_key)
                    </td>
                    <td>
                        @(option.Created_date)
                    </td>
                    <td>
                        @(option.Closed_date)
                    </td>
                    <td>
                        @(option.Agency_name)
                    </td>
                    <td>
                        @(option.Complaint_type)
                    </td>
                    <td>
                        @(option.Descriptor)
                    </td>
                    <td>
                        @(option.Location_type)
                    </td>
                    <td>
                        @(option.Incident_zip)
                    </td>
                    <td>
                        @(option.Incident_address)
                    </td>
                    <td>
                        @(option.Street_name)
                    </td>
                    <td>
                        @(option.Cross_street_1)
                    </td>
                    <td>
                        @(option.Cross_street_2)
                    </td>
                    <td>
                        @(option.Intersection_street_1)
                    </td>
                    <td>
                        @(option.Intersection_street_2)
                    </td>
                    <td>
                        @(option.Address_type)
                    </td>
                    <td>
                        @(option.City)
                    </td>
                    <td>
                        @(option.Landmark)
                    </td>
                    <td>
                        @(option.Facility_type)
                    </td>
                    <td>
                        @(option.Status)
                    </td>
                    <td>
                        @(option.Resolution_description)
                    </td>
                    <td>
                        @(option.Community_board)
                    </td>
                    <td>
                        @(option.Borough)
                    </td>
                    <td>
                        @(option.Park_facility_name)
                    </td>
                    <td>
                        @(option.Park_borough)
                    </td>
                    <td>
                        @(option.Vehicle_type)
                    </td>
                    <td>
                        @(option.Taxi_company_borough)
                    </td>
                    <td>
                        @(option.Taxi_pick_up_location)
                    </td>
                    <td>
                        @(option.Bridge_highway_name)
                    </td>
                    <td>
                        @(option.Bridge_highway_direction)
                    </td>
                    <td>
                        @(option.Road_ramp)
                    </td>
                    <td>
                        @(option.Bridge_highway_segment)
                    </td>
                    <td>
                        @(option.Latitude)
                    </td>
                    <td>
                        @(option.Longitude)
                    </td>
                    <td>
                        @(option.Location_city)
                    </td>
                    <td>
                        @(option.Location_zip)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $("#311CallsTable").DataTable();
    })
    function GetSet(itemChange) {
        var currentMax = $("#CurrentMax").val();
        if (Math.abs(itemChange) > currentMax) {
            alert("Displaying the full set of entries");
            return;
        }

        var currentFloor = $("#CurrentFloor").val();
        var currentCeil = $("#CurrentCeil").val();
        var activeSearch = $("#ActiveSearch").val();
        var searchString = $("#SearchString").val();

        $.ajax({
            method: 'POST',
            url: "/Home/ChangeSet/",
            data: {
                floor: currentFloor,
                ceil: currentCeil,
                max: currentMax,
                isActiveSearch: activeSearch,
                searchString: searchString,
                requestedChange: itemChange
            },
            dataType: "html"
        }).done(function (html) {
            document.html($(html));
        })
    }
    function LoadMap(longitude, latitude) {
        $.ajax({
            method: 'GET',
            url: "/Map/Index",
            data: {
                longitude: longitude,
                latitude: latitude
            },
            dataType: "html"
        });
    }
</script>